/* Confirm Dialog */

@import "colors.rasi"

* {
    background-color:       @al;
    text-color:             @fga;
	font:				 	"Noto Sans Font 10";
}

window {
    width:      			210px;
    padding:    			25px;
    border:					1px 1px 1px 1px;
    border-radius:          3px;
    border-color:           @ac;
    location:               center;
    y-offset:               0;
}

entry {
    expand: 				true;
    text-color:				@fga;
}
